.bg1 {
    background-image:url('../../../public/assets/images/bus1.jpg');
}

.bg2 {
    background-image:url('../../../public/assets/images/bus1.jpg');
}

.bg3 {
    background-image:url('../../../public/assets/images/bus1.jpg');
}